<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947664829847-361lmrktmvadlot7polc941h3q6gj2vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947664829847-361lmrktmvadlot7polc941h3q6gj2vd</string>
	<key>API_KEY</key>
	<string>AIzaSyDpuwErhAgTxU-c0VjXkiEUrpKRQW9mlW4</string>
	<key>GCM_SENDER_ID</key>
	<string>947664829847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whisnuys.simple-login-signup</string>
	<key>PROJECT_ID</key>
	<string>simple-login-signup-28bfa</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-login-signup-28bfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947664829847:ios:2fa253bfab53923eabd8d2</string>
</dict>
</plist>